# Dependencies
node_modules/
**/node_modules/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Builds
dist/
**/dist/
build/
.vite/

# Logs & Environment
*.log
.env.local

# OS
.DS_Store
Thumbs.db
